.search-bar{
  text-align: center;
  padding: 2%;
}

.items-list {
  display: flex
}

.item-card{
  width: 20%;
  margin: 2%;
  text-align: center;
}

.search-bar{
  width: 40%;
  margin: 0 29.5%;
  display: flex;
  justify-content: space-between;
}