.search{
  background: #e7dfaf;
}

.search-bar{
  text-align: center;
  padding: 2%;
  width: 40%;
  margin: 0 29.5%;
  display: flex;
  justify-content: space-between;
}

.list-container{
  background-image: url('../pics/david-clode-z9CgKNW_Nq8-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.photoBy p{
  color: lightgreen;
  background: black;
  text-align: right;
  padding: 1%
}

.photoBy p a{
  color: lightblue;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card{
  width: 20%;
  margin: 1%;
  padding: 1%;
  text-align: center;
  background: #e7dfaf;
  font-weight: bold;
  color: #184d21;
  border: 2px solid #184d21;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card p{
  margin: 2% 0;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.2rem;
}

#search-container {
  display: flex;
  align-items: center;
}

#search-container input {
  margin-left: 3px;
}

#search {
  height: 25px;
}

@media (max-width: 1000px){
  .item-card{
    width: 28%;
  }

  .search-bar{
    width: 60%;
    margin: 0 19.5%;
  }
}

@media (max-width: 600px){
  .item-card{
    width: 45%;
  }

  .search-bar{
    width: 90%;
    margin: 0 4.5%;
  }
}